@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --myred: 227, 24, 55;
    --myyellow: 215, 168, 58;
    --accent: 228, 10, 19;
    --light: 255, 255, 255;
    --dark: 54, 54, 54;
    --orange: 244, 173, 76;
    --primary: 255, 255, 255;
    --secondary: 245, 245, 245;
    --line: 223, 223, 223;
    --alert: 180, 19, 19;
    --success: 14, 165, 38;
    --warning: 211, 180, 14;
    --info: 58, 27, 248;
    --body: 152, 152, 152;
  }
  
  .dark {
    --myred: 227, 24, 55;
    --myyellow: 215, 168, 58;
    --accent: 228, 10, 19;
    --light: 64, 64, 64;
    --primary: 13, 17, 23;
    --secondary: 1, 4, 9;
    --dark: 255, 255, 255;
    --line: 48, 54, 61;
    --alert: 180, 19, 19;
    --success: 14, 165, 38;
    --warning: 211, 180, 14;
    --info: 58, 27, 248;
    --body: 188, 188, 188;
  }

  @layer base {
    body {
        @apply text-body  font-['Nunito'] leading-tight overflow-x-hidden;
    }

    h1, h2, h3, h4, h5 {
        @apply font-bold
    }

    h1 {
        @apply text-5xl mb-5;
    }
    h2 {
        @apply text-3xl mb-5;
    }
    h3 {
        @apply text-2xl mb-5;
    }
    h4 {
        @apply text-xl mb-5;
    }
    h5 {
        @apply text-lg mb-5;
    }

    img {
        @apply block;
    }
    
}

@layer components {
  
}